body,
html {
    background-image: url("../images/genie.gif");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 100% 100%;
    text-align: center;
}

#mysound {
    src: url("assets/sound/star.mp3");
}

#game_container {
    box-sizing: border-box;
    text-align: center;
    color: white;
    font-size: 18px;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Great Vibes', cursive;
    font-family: 'Comic Neue', cursive;
    padding-right: 50px;
    padding-left: 50px;
    margin-top: 3%;
    height: auto;
    padding-bottom: 50px;
    margin-right: 15%;
    margin-left: 15%;
    background-color: #042772;
    border-style: solid;
    border-width: 5px;
    border-color: white;
    border-radius: 15px;
    margin-top: 50%;
    margin-bottom: 50%;
}

#form_container {
    box-sizing: border-box;
    text-align: center;
    color: white;
    font-size: 18px;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Great Vibes', cursive;
    font-family: 'Comic Neue', cursive;
    padding-right: 50px;
    padding-left: 50px;
    margin-top: 3%;
    height: auto;
    padding-bottom: 50px;
    margin-right: 15%;
    margin-left: 15%;
    background-color: #042772;
    border-style: solid;
    border-width: 5px;
    border-color: white;
    border-radius: 15px;
    margin-top: 50%;
    margin-bottom: 50%;
}

h1 {
    font-size: 45px;
    color: white;
    margin-top: 15%;
    margin-bottom: 3%;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Great Vibes', cursive;
}

h3 {
    font-size: 22px;
    font-family: 'Mouse Memoirs', sans-serif;
    padding: 30px;
}

#quiz__questions {
    font-size: 20px;
}

#quiz__results {
    height: auto;
    padding-bottom: 50px;
    font-size: 25px;
    color: white;
}

button {
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Great Vibes', cursive;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    height: 55px;
    width: 200px;
    font-size: 20px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    border-radius: 10px;
    position: center;
}